
.form-notes{
    display: flex;
    align-items: center;
}
.checkbox-margin
{

}
.money-icon{
    max-height: 100%;
    max-width: 100%;
    width:75px;
    height:75px;
    background-size: cover;
    background-image: url('../img/logo.png');
}