<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Create an account</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link th:href="@{/css/signin.css}" rel="stylesheet">
</head>

<body>

<div class="container">

    <form th:method="POST" th:action="@{/registration}" th:object ="${user}" class="form-signin text-center" >
        <h2 class="form-signin-heading">Create your account</h2>

        <input type="text" class="form-control" placeholder="Username"
               autofocus="true" th:field="*{username}">
        <p th:if="${#fields.hasErrors('username')}" th:errorclass="error" th:errors="*{username}" />

        <input type="email" class="form-control" placeholder="Email"
               autofocus="true" th:field="*{email}">
        <p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}" />

        <input type="password" class="form-control" placeholder="Password"
               autofocus="true" th:field="*{password}">
        <p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}" />

        <input type="password" class="form-control" placeholder="Password confirmation"
               autofocus="true" th:field="*{passwordConfirmation}">
        <h2 th:text="${error}"></h2>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>

</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"  integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

</body>
</html>